/* Corps de la page */
body {
    background-color: black;
    display: flex;
    flex-direction: column; /* Pour aligner les éléments verticalement */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

main{
    width: 95%;
    height: 95%;
}

/* Conteneur principal avec Flexbox */
.main-container {
    display: flex;
    justify-content: space-between; /* Espacement maximal entre les éléments */
    height: 100%;
    width: 100%; /* Prendre toute la largeur disponible */
    padding: 0; /* Ajout d'un padding à gauche et à droite pour un peu d'espace */
}

/* Conteneur du texte (titre) */
.text-container {
    display: flex;
    justify-content: flex-start; /* Aligne le texte à gauche */
    align-items: center; /* Aligne verticalement */
    flex-grow: 1; /* Permet au texte de prendre l'espace restant */
}
/* Conteneur des icônes */
.icon-container {
    display: flex;
    justify-content: flex-end; /* Aligne les icônes à droite */
    gap: 20px; /* Espace entre les icônes */
    align-items: center; /* Aligne verticalement les icônes */
}

/* Style des icônes (Instagram et Email) */
.icon-link {
    color: white; /* Couleur des icônes */
    font-size: 2rem; /* Taille des icônes */
    transition: color 0.3s ease;
    z-index: 2;
}

/* Effet au survol des icônes */
.icon-link:hover {
    color: red; /* Change la couleur au survol (ici un rose pour Instagram) */
}

/* Style du titre */
h1 {
    color: white;
    font-size: 2vw; /* Taille du texte en fonction de la largeur de la fenêtre */
    text-align: center; /* Centre le texte */
    margin: 0;
    cursor: pointer; /* Change le curseur en main pour indiquer qu'il est interactif */
    transition: all 0.3s ease; /* Ajoute une transition douce */
    z-index: 2;
}

/* Effet au survol de la souris */
h1:hover {
    color: red; /* Change la couleur du texte barré */
    text-decoration: line-through; /* Barrer le texte */
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    pointer-events: auto; /* Permet d'interagir avec */
  }

